<!DOCTYPE html>

<html>
    <head>
      <title><%= @company_name %></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      <%= stylesheet_link_tag "bootstrap" %>
      <%= stylesheet_link_tag "font-awesome.min" %>
      <%= stylesheet_link_tag "animate" %>
      <%= stylesheet_link_tag "creative" %>
      <%= stylesheet_link_tag "site_style" %>
    </head>
    
    <body class="img-responsive" style="background-attachment:fixed"> 
      <table>
        <tr>
            <td>
                <div class="container-fluid">
                    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation" style="border-radius:0px;">
                        <div class="navbar-header">
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >                    
                                <ul class="nav navbar-nav">
                                    <li><a class="navbar-brand" href="#" style="color:wheat"><span class="glyphicon glyphicon-home" ></span>HOME</a></li>
                                    <li><a class="navbar-brand" href="#services" style="color:wheat">Services</a></li> 
                                    <li><a class="navbar-brand" href="#about" style="color:wheat">About</a></li>
                                    <li><a class="navbar-brand" href="#contact" style="color:wheat">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <ul class="nav navbar-nav navbar-right" style="margin-right:20px;">
                                <li>
                                    <button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button" style="background-color: wheat">
                                        <span class="sr-only">Toggle navigation</span>
                                    </button>
                                    <a class="navbar-brand page-scroll" href="#">
                                        <span style="color: wheat"><%= @company_name %></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>  
            </td>
        </tr>
      </table>
      <div id="carousel_div">
            <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
            <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active" style="border: 2px solid #000;"></li>
                    <li data-target="#myCarousel" data-slide-to="1" style="border: 2px solid #000;"></li>
                </ol>   
            <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <%= image_tag "img3.png", :class => "img-responsive", :alt => "slides", :style => "width:100%; height:430px;"%>               
                        <div class="carousel-caption">
                          <h2>Independent Testing</h2>
                          <p><%= render :file => '/home/independent_testing.txt' %></p>
                        </div>
                    </div>
            
                    <div class="item">
                        <%= image_tag "img2.png", :class => "img-responsive", :alt => "slides", :style => "width:100%; height:430px;"%> 
                          
                        <div class="carousel-caption">
                            <h2>Test Automation Training</h2>
                            <p></p>
                            <p>Enhace the skill set your team and take them to next level. We convert your entire Testing team to dynamic Automation Test Development Engineers

                            Dcube Software which carries out various trainings in Mobile Software Testing and Web UI Automation Testing using various Framework and Languages. Dcube Software provide customize software testing training programs which enable Organisation’s to focus on exact problem rather than theory and then customize according to need. As a end result we provide POC and training customers on same POC using training techniques and understanding What exactly client wants.
                            We bridge the gap between Manual testing and Automation Testing
                            Training Web UI Automation Testing:
                            Ruby : Cucumber / RSpec + Ruby + Selenium / Watir + Jenkins + Remote Execution
                                Python :Behave + Python + Selenium + Jenkins + Remote Execution

                                Training Mobile Automation Testing:
                                Ruby: Calabash ( iOS / Android ) + Cucumber + Ruby + Jenkins</p>
                        </div>
                    </div>
                </div>
            </div>
      </div>
        
        
        <section id="services" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center" >
                        <h2 class="section-heading">Services and Offerings</h2>
                        <hr class="primary" /></div>
                    </div>
                </div>
                        
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 text-center">
                        <div class="service-box">
                            <!-- <h3>Mobile APP Development and Web Development</h3> -->
                            <p class="services-text text-muted">Mobile APP Development and Web Development</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 text-center">
                        <div class="service-box">
                            <!-- <h3>Independent Testing and Training</h3> -->
                                <p class="services-text text-muted">Independent Testing and Training</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 text-center">
                        <div class="service-box">
                            <!-- <h3>Technical Support for Windows Server</h3> -->
                                <p class="services-text text-muted">Technical Support for Windows Server</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-primary" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">About the Company</h2>
                        <hr class="light" />
                        <p class="text-faded"><%= @company_name %> is here to help you and your business. Our mission is to provide high-quality and cost-effective IT products and services that meet our customers&#39; needs. We are committed to delivering quality, secure and modern software products and solutions</p>
                        <p class="text-faded">We manage and support mobile app, independent testing and test automation training using cutting-edge technology. With the utmost quality and consistency, we make technology an asset for our clients through unique, individualized solutions. We offer a variety of services and strive to be the best in customer service, knowledge, teamwork, and communication. We guarantee our work, and stand behind every decision we make.</p>
                        <a class="btn btn-default btn-success" href="#">Get Started!</a>
                    </div>
                 </div>
             </div>
        </section>

        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Let&#39;s Get In Touch!</h2>
                       <!--  <p><span><%= @company_name %></span> <span>145/7 Babu Purwa Colony, Kidwai Nagar, Kanpur-208011, U.P.</span></p> -->
                        <hr class="primary" />
                        <p>As a startup we are working really hard and fast on building our website still Major part of website is underdevelopment.</p>
                        <h2>Hope to hear from you soon</h2>
                    </div>
                    <div class="col-lg-4 col-lg-offset-2 text-center">
                        <p>91-8976390917</p>
                        <p>91-7275696210</p>
                        <p>91-7875553879</p>
                    </div>
                    <div class="col-lg-4 text-center">
                        <p><a href="mailto:dcube17site@gmail.com">dcube17site@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </section>     
<%=javascript_include_tag  "bootstrap.js"%>
<%= javascript_include_tag  "demo"%>
    
    </body>
</html>